.buttons__button {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: transparent;
    font-size: 15px;
    margin-top: 3px;
    transition: 1s;
}

@media(max-width: 500px) {
    .buttons__button {
        display: grid;
    }
    .buttons {
        justify-self: center;
    }
}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: hsl(0, 0%, 80%);
}